*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Color Palette */
:root {
  --dark-color: #1b0e02;
  --primary-color: #ffff;
  --secondary-color: #5b5d60;
  --tertiary-color: #f9a90a;
  --footer-color: #b3b3b3;
}

/* Basis Styling */
html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 0.9rem;
  cursor: pointer;
}

a:hover {
  color: var(--tertiary-color);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
}

.container-sm {
  max-width: 1050px;
}

.btn {
  padding: 0.7rem 1.8rem;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border-radius: 30px;
  border: 2px solid var(--tertiary-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn i {
  margin-right: 0.4rem;
}

.btn:hover {
  background-color: var(--dark-color);
  border: 2px solid var(--tertiary-color);
  color: var(--primary-color);
}

.btn-nav {
  border: 2px solid var(--tertiary-color);
}

.btn-nav:hover {
  background-color: transparent;
  color: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
}

.btn-light {
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--primary-color);
}

.logo {
  font-size: 1.4rem;
  color: var(--tertiary-color);
}

.section-title {
  margin-bottom: 1rem;
}

/* Navbar */
.navbar {
  padding: 0.8rem;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}

/* Mobile */
.navbar .mobile-menu {
  display: none;
}

.navbar .mobile-menu-toggle {
  cursor: pointer;
  color: var(--secondary-color);
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--footer-color);
  padding: 2rem;
  text-align: center;
  transition: transform 0.3s ease, visibility 0.3s ease;
  transform: translateX(-100%);
  visibility: visible;
  z-index: 1000;
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
  visibility: visible;
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

/* Hero */
.hero {
  height: 90.5vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../images/hero-background.jpg") center center/cover no-repeat;
  margin-bottom: 3rem;
}

.hero-text {
  height: 100%;
  width: 60%;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 6rem;
  margin-left: 5.5rem;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero-text p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.hero-text .btn {
  margin-right: 1rem;
}

/* Episodes */
.episodes {
  height: 550px;
  margin-bottom: 0rem;
}

.episodes .cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: flex-start;
  column-gap: 1.4rem;
  height: 390px;
}

.episodes .card-figure {
  height: 360px;
  position: relative;
  top: 0;
  left: 0;
}

.episodes .card-figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.episodes .card-figure figcaption {
  width: 100%;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;

  border-radius: 0 0 10px 10px;
  background: rgba(0, 0, 0, 0.6);
  color: var(--primary-color);
  font-size: 14px;
}

.card-figure figcaption p:nth-child(1) {
  font-weight: bold;
}

.card-figure figcaption p:nth-child(2) {
  font-size: 10px;
  margin-bottom: 5px;
}

.card-figure .play-button i {
  font-size: 1rem;
  margin-right: 0.3rem;
  color: var(--tertiary-color);
}

.card-item a:hover {
  opacity: 0.95;

  i {
    transition: transform 0.3s ease;
    transform: scale(1.2);
  }
}

.episodes .btn:hover {
  border: 2px solid var(--dark-color);
}

/* Testimonials */
.testimonials {
  margin-bottom: 3rem;
  height: 300px;
}

.testimonials .section-title {
  margin-bottom: 1rem;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 3rem;
  height: 180px;
}

.testimonials .grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;

  padding: 1.4rem;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.grid-item .review p {
  font-size: 0.8rem;
}

.grid-item .review .quotation {
  color: var(--tertiary-color);
  font-size: 1.2rem;
}

/* Newsletter */
.newsletter {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../images/newsletter-background.jpg") center center/cover no-repeat;
  color: var(--primary-color);
  text-align: center;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 2rem;
}

.newsletter p {
  font-size: 0.8rem;
}

.newsletter p:nth-of-type(2) {
  margin-bottom: 1rem;
}

.newsletter input,
.newsletter .btn {
  padding: 0.4rem 1.4rem;
  font-family: inherit;
  border-radius: 10px;
}

.newsletter input {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid transparent;
}

.newsletter input::placeholder {
  font-size: inherit;
  font-family: inherit;
  color: var(--secondary-color);
}

.newsletter input:focus {
  outline: none;
}

/* Footer */
.footer {
  background-color: var(--dark-color);
  color: var(--footer-color);
}

.footer-grid h4 {
  margin-bottom: 0.5rem;
}

.footer-grid h4:first-of-type {
  color: var(--primary-color);
}

.footer-grid .footer-title {
  font-size: 0.8rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

.footer-grid a {
  color: var(--footer-color);
  font-size: 0.8rem;
  font-weight: 400;
}

.footer-grid a:hover,
.footer-grid i:hover {
  color: var(--primary-color);
}

.footer-grid p {
  font-size: 0.8rem;
}

.footer-grid i {
  color: var(--footer-color);
  font-size: 1.3rem;
}

.footer-grid .footer-logo {
  grid-area: logo;
}

.footer-grid .quick-links {
  grid-area: quick-links;
}

.footer-grid .contact {
  grid-area: contact;
}

.footer-grid .copyright {
  grid-area: copyright;
}

.footer-grid {
  display: grid;
  grid-template-areas:
    "logo quick-links contact"
    "copyright copyright copyright";
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  justify-content: center;
  align-items: start;
  column-gap: 4rem;
  row-gap: 1rem;
}

.footer-grid .social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.footer-grid .contact {
  line-height: 1.8;
}

.footer-grid .copyright {
  border-top: 1px solid var(--primary-color);
  padding: 1rem;
  text-align: center;
}

.footer-grid .copyright i {
  color: red;
  font-size: 0.8rem;
}

/* Media Queries */
@media (max-width: 768px) {
  /* Navbar */
  .navbar .main-menu {
    display: none;
  }

  .navbar .mobile-menu {
    display: block;
  }

  .section-title {
    text-align: center;
    font-size: 1.2rem;
  }

  /* Hero */
  .hero {
    margin-bottom: 1rem;
  }
  .hero-text {
    width: 70%;
    margin-left: 2rem;
  }

  .hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .hero-text p {
    margin-bottom: 1rem;
  }

  /* Episodes */
  .episodes {
    height: 730px;
    margin-bottom: 1.4rem;
  }

  .episodes .cards-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    height: 310px;
  }

  .episodes .card-figure {
    height: 280px;
  }

  .episodes .btn {
    display: block;
    margin: 300px auto;
    width: 50%;
    text-align: center;
  }

  /* Testimoniasl */
  .testimonials {
    height: 560px;
    margin-bottom: 1rem;
  }

  .testimonials-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
  }

  /* Newsletter */
  .newsletter {
    max-width: 90%;
  }

  .newsletter .section-title {
    font-size: 1rem;
  }

  .newsletter p:nth-of-type(1) {
    margin-bottom: 0.5rem;
  }

  .newsletter p:nth-of-type(2) {
    display: none;
  }

  .newsletter input {
    width: 50%;
  }

  /* Footer */
  .footer-grid {
    grid-template-areas:
      "logo logo"
      "quick-links contact"
      "copyright copyright";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 2rem;
  }

  .footer-grid .footer-logo {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--footer-color);
  }
}

@media (max-width: 460px) {
  /* Hero */
  .hero-text {
    width: 90%;
    margin-left: 1.5rem;
    padding: 0.5rem;
  }

  .hero-text .btn {
    display: block;
    margin-bottom: 1rem;
  }

  .testimonials {
    height: 600px;
  }

  .newsletter input {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 400px) {
  .testimonials {
    height: 700px;
  }
}
